@model List<Model.Album>
@{
    int albumCoount = 0;
    int photoCount = 0;
    int listCount = 0;
    var tempList = new List<string>();
    var constId = "menu";

    foreach (var item in Model)
    {
        tempList.Add(constId + listCount.ToString());
        listCount++;
    }
}
<link rel="stylesheet" href="~/Content/reset.css" />
<link rel="stylesheet" href="~/Content/style.css" />
<script src="/Scripts/display.js"></script>
<nav>
    <ol class="cd-multi-steps text-top">
        <li class="visited">
            <a href="#0">Start</a>
        </li>
        <li class="current">
            <a href="#0">Facebook Image</a>
        </li>
        <li>
            <em>Cognitive Vision API</em>
        </li>
        @*<li>
            <em>Aggregate</em>
        </li>*@
    </ol>
</nav>
<div id="main" style="height:100px;padding:10px;">
    <blockquote style="display:block">
        @ViewBag.userName さんのアルバム
        <br /><br />
        @Html.ActionLink("取得した画像を解析する", "Analysis", "Test", null, new { @class = "button button-3d-primary button-rounded" })
    </blockquote>
</div>
<br /><br />
@if (Model.Count > 0)
{
    <ul class="nav nav-tabs">

        @foreach (var item in Model)
        {
            <li><a href="#@tempList[albumCoount].ToString()" data-toggle="tab">@item.albumName</a></li>
            albumCoount++;
        }
    </ul>
}
@if (Model.Count > 0)
{
    <div class="tab-content">
        @foreach (var item in Model)
        {
            <div class="tab-pane fade" id="@tempList[photoCount].ToString()">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Image</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var i in item.photo)
                        {
                            <tr>
                                <td>@i.photoId</td>
                                <td><img src="@i.source.First()" class="img-thumbnail img-responsive" /></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            photoCount++;
        }
    </div>
}









